<div class="login">
    <div class="d-flex flex-column justify-content-center">
            <h1 class="fs-3 fw-bolder">Login</h1>
            <form >
                    <div>
                            <input formControlName="email" type="email" placeholder=" Email" />

                    </div>
                    <div>
                            <input formControlName="password" type="password" placeholder="Password" />
                    </div>
                    <div>
                            <a class="forgotPassword" href="#">Forgot Password?</a>

                    </div>
                    <button  class="button">Login</button>
            </form>

            <p class="CreateAccount">
                    Not have an account?<a>Create account</a>
            </p>
    </div>
 

</div>