
<button class="btn btn-primary" routerLink="/add-banner">Add Banner</button>
<nz-table #editRowTable nzBordered [nzData]="bannerList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="20%">Image_url</th>
        <th nzWidth="15%">Redirect_url</th>
        <th nzWidth="20%">Status</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let banner of bannerList">
        <!-- <ng-container *ngIf="!editCache[data.code].edit; else editTemplate"> -->
          <td>{{banner.Image_url}</td>
          <td>{{banner.Redirect_url}}</td>
          <td>{{banner.status}}</td>
          <!-- <td><a (click)="startEdit(data.id)">Edit</a></td> -->
        <!-- </ng-container> -->
        <!-- <ng-template #editTemplate>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.cityName" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.cityCode" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.status" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.imageUrl" /></td>
          <td>
            <a (click)="saveEdit(data.id)" class="save">Save</a>
            <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
          </td>
        </ng-template> -->
      </tr>
    </tbody>
</nz-table>
