.save {
    margin-right: 8px;
  }

.addCityBtn {
  cursor: pointer;
  background: rgb(86, 154, 243);
  padding: 7px;
  border-radius: 10px;
  border: none;
  font-weight: 700;
  margin-left: 80%;
  margin-bottom: 3%;
  width: 100px;

}