
<button class="btn btn-primary" routerLink="/city/add-city">Add City</button>
<nz-table #editRowTable nzBordered [nzData]="cityList" nzTableLayout="fixed">
    <thead>
      <tr>
        <th nzWidth="20%">City Name</th>
        <th nzWidth="15%">City Code</th>
        <th nzWidth="20%">Status</th>
        <th nzWidth="25%">Image Url</th>
        <th nzWidth="25%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let city of cityList">
        <!-- <ng-container *ngIf="!editCache[data.code].edit; else editTemplate"> -->
          <td>{{ city.name}}</td>
          <td>{{ city.code}}</td>
          <td>{{ city.status}}</td>
          <td>{{ city.image_url}}</td>
          <td><a [routerLink]="['/edit-city', city.id]">edit</a></td>
          
          
          <!-- <td><a (click)="startEdit(data.id)">Edit</a></td> -->
        <!-- </ng-container> -->
        <!-- <ng-template #editTemplate>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.cityName" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.cityCode" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.status" /></td>
          <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.imageUrl" /></td>
          <td>
            <a (click)="saveEdit(data.id)" class="save">Save</a>
            <a nz-popconfirm nzPopconfirmTitle="Sure to cancel?" (nzOnConfirm)="cancelEdit(data.id)">Cancel</a>
          </td>
        </ng-template> -->
      </tr>
    </tbody>
  </nz-table>
